h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

span {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

p {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

#button-div {
  text-align: center;
}
